.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 0 0 0 0;
}
.img-circle {
    display: block;
    margin: 0 auto;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none
}
.carousel-inner {
    width: 90%;
    margin: auto;
}
.jumbotron {
    background-image: url("image/bg1.jpg");
    background-size: cover;
    height: 400px;
    text-align: center;
    color: aliceblue;
}
.text-bottom {
    margin-top: 80px;
}
.text-muted {
    font-size: 80%;
}
li {
    font-size: 130%;
}
.navright {
    float: right;
}
.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 31vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 1200px) {
    .col-lg-4 {
        float: left;
        width: 33%;
    }
    .text-bottom {
        margin-top: 30px;
    }
}
@media (max-width: 768px) {
    .navright {
        float: left;
    }
}
